@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

img
{
    width: 150px;
}
body
{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    
}
label
{
    font-size: 10px;
    padding-bottom: 5px;
}
nav
{
    display: flex;
    background-color:#d92027;
    padding: 10px;
    
    justify-content: space-between;
    align-items: center;
}


nav ul
{
    display: flex;
}
nav li
{
    
    font-weight:bold ;
    padding-left: 20px;
    list-style: none;
    
}
nav li a
{
    
    
    color: black;
    text-decoration: none;
}
nav li a:hover{
    color: green;
}
.main_section
{
    padding: 10%;
    text-align: center ;
}
.productos
{
    height: 10px;
    background-image: url("../Imagenes/curve.png");
    background-size: cover ;
    background-position: center top;
    padding: 15%;
    display: flex;
    color:black;
    
}
.producto{
    padding: 30px;
    margin-top: -330px;
    
}
.producto .content
{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 5px black;
    background-color: #ffcd3c;
    

}
.img_content
{
    background-size: contain;
    text-align: center;
    
    
}
.main_button
{
    background-color: #35d0ba;
    
    width: 100%;
    font-weight:bold;
    padding: 10px;
    font-size: 17px;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.main_button:hover
{
    background-color: #229080;
}
.Destacado
{
    height: 300px;
    
    background-position: center top;
    padding: 5%;
    display: inline-flex ;
    color:black;

}
.Destacado .Suavecito
{
    background-color: #ff9234;
    padding: 35px;
   
}
.Suavecito
{
    text-align: justify;
    
    padding: 15%;
    margin-bottom: auto;
    margin-top: auto;
    
}
h3
{
    text-align: center;
}
.img_com 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.Personas
{
    
    height: 300px;
    
    background-position: center top;
    padding: 5%;
    display: flex ;
    color:black;
    

}
.main_section2
{
    text-align: center;
    padding: 1%;
    font: Bold 30px/41px Open Sans;
}
.Persona
{
    padding: 1%;
    margin: none;
    
    color:black;
}

.Persona .datos
{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 5px black;
    background-color: #ffcd3c;
    text-decoration: none;

}
.Persona .datos .img_persona
{
    text-align: center;
    top: 1436px;
    left: 636px;
    width: 239px;
    height: 105px;
}
.Salida 
{
    display: flex;
    justify-content:space-between ;
    background-color:#d92027;
    padding: 20px;

    
}
.Salida a:hover
{
    color: lawngreen;
}

footer
{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: #313337;
    padding: 10px;
    color: white;
    

}
.modulo_pago input
{
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid black;
    box-sizing: border-box;

}
.main-btn:hover
{
    color: wheat;
}

.modulo_pago .main-btn
{
    margin-top: 10px;
    background-color: green;

}
.modulo_pago
{
    background-color: white;
    box-shadow:0px 0 2px 1px #e6e5e9;
    padding: 10px;

}
.modulo-imagenes
{
    max-width: 150px;
    text-align: center;
    width: 100%;
    margin: auto;
}
