@media (max-width: 600px)
{
    .productos
    {
        display: inherit;
        height: auto;
    
    }
    .producto
    {
        margin-top: auto;
    }
    .main_section
    {
        padding: 4%;
    }
    .Destacado, .Personas
    {
        display: inherit;
    }
}